* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MetropolisExtraBold';
}

a {
    text-decoration: none;
    color: #eee;
}

ul {
    list-style: none;
}

 /* Parte do cabeçalho */

.conteudo{
  display: flex;

}

.nav-container {
    width: 100%;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    padding: 50px 85px;
    margin: 10px;
    
}

.pesquisa-box{
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 40px;
    padding: 8px 8px;
    margin-top: 35px;
    margin-left: 100px;
    
}


.pesquisa-box ul {
    display: flex;
}

.pesquisa-txt {
    width: 300px;
    padding: 2px 5px;
    background-color: transparent;
    border: none;
}
.pesquisa-txt:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.cadastro {
    width: 200px;
    white-space: nowrap;
    display: flex;
    gap: 10px;

    
}

.nav-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: white;
    margin: 10px;
    
    
}

.nav-itens li {
    padding: 12px;
}


.info {
    width: 100%;
    background: rgb(255, 255, 54);
}

.info-itens {

    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    margin-left: 130px;
    
   
}

.info-itens li {
    padding: 16px;
}

/* Parte da foto principal */

#product {
    width: 100%;
    padding: 350px;
    background: #eee;
 }

#slider {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 0px;
    max-height: 150px;

    position: center;
}

#slider img{

    opacity: 0;
    display: flex;
   
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}

/* Parte dos lançamentos  */

.novi {
    background: white;
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    
}



.novi-nome{
    text-transform: uppercase;
    color: black;
    font-size: 28px;


  
}

.botao {
    background: white;
    border: none;
}

.aa {
   color: rgb(8, 0, 0);
   border: 2.5px solid black;
   background-color: white;
   transition: 1s;
   cursor: pointer;
   font-size: 15px;
   padding: 7.5px 40px;
   text-transform: uppercase;
   margin: 12px 0 12px 600px; 
}

.aa:hover {
    color: whitesmoke;
    border: 2.5px solid black;
    background-color: rgb(2, 0, 8);

}

/* Foto dos lançamentos  */

.caixa {
    border: 4px solid black;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: center;
    margin-top: 30px;
    max-width: 80%;
    height: 460px;

}

.vai-volta {
  justify-content: center;
  text-align: center;
  margin: 0 30px;
}

.next-btn {
    border: none;
    background: transparent;
    float: right;
    margin-top: 160px;
}

.next-btn img {
    width: 60px;
}

.volta-btn {
    border: none;
    float: left;
    background: transparent;
    margin-top: 160px ;
}

.volta-btn img {
    width: 60px;
    
}


.teste{
    display: block;
}

.teste1 {
    margin: 0 auto;
    text-align: center;    
}

.teste1 a {
    color: black;
}

.imglancamento {
    width: 350px;
}



.botaolancamento {
    color: black;
    background: white;
    border: 1px solid black;
    padding: 5px 20px;
    transition: 1s;
}
.botaolancamento:hover {
    border: 1px solid black;
    color: white;
    background:black;
    padding: 5px 20px;
}


