* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MetropolisExtraBold';
}

a {
    text-decoration: none;
    color: #eee;
}

ul {
    list-style: none;
}

 /* Parte do cabeçalho */

.conteudo{
  display: flex;

}

.nav-container {
    width: 100%;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    padding: 50px 85px;
    margin: 10px;
    
}

.pesquisa-box{
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 40px;
    padding: 8px 8px;
    margin-top: 35px;
    margin-left: 100px;
    
}


.pesquisa-box ul {
    display: flex;
}

.pesquisa-txt {
    width: 300px;
    padding: 2px 5px;
    background-color: transparent;
    border: none;
}
.pesquisa-txt:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.cadastro {
    width: 200px;
    white-space: nowrap;
    display: flex;
    gap: 10px;

    
}

.nav-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: white;
    margin: 10px;
    
    
}

.nav-itens li {
    padding: 12px;
}


.info {
    width: 100%;
    background: rgb(255, 255, 54);
}

.info-itens {

    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    margin-left: 130px;
    
   
}

.info-itens li {
    padding: 16px;
}

/* Parte da foto principal */

#product {
    width: 100%;
    padding: 350px;
    background: #eee;
 }

#slider {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 0px;
    max-height: 150px;

    position: center;
}

#slider img{

    opacity: 0;
    display: flex;
   
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}

/* Parte dos lançamentos  */

.novi {
    background: white;
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    
}



.novi-nome{
    text-transform: uppercase;
    color: black;
    font-size: 28px;


  
}

.botao {
    background: white;
    border: none;
}

.aa {
   color: rgb(8, 0, 0);
   border: 2.5px solid black;
   background-color: white;
   transition: 1s;
   cursor: pointer;
   font-size: 15px;
   padding: 7.5px 40px;
   text-transform: uppercase;
   margin: 12px 0 12px 600px; 
}

.aa:hover {
    color: whitesmoke;
    border: 2.5px solid black;
    background-color: rgb(2, 0, 8);

}

/* Foto dos lançamentos  */

.container {
    position: relative;
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
    
}


.galeria-caixa {

    overflow-x: auto;
    border: 3px solid black;
   
}

.galeria {
    display: flex;
    flex-flow: row nowrap;
    gap: 150px;
    margin-left: 50px;
}

.peita {
    text-align: center;

}

.peita a {
    color: black;
}

.peita a button {
    padding: 5px 20px;
    margin: 10px 0;
    color: black;
    background: white;
    border: 1px solid black;
    transition: 1s;
    }
.peita a button:hover {
    padding: 5px 20px;
    margin: 10px 0;
    color: white;
    background: black;
    border: 1px solid black;
    }



.arrow-left,
.arrow-rigth {
    position: absolute;
    top: 0;
    left: -50px;
    right: auto;
    bottom: 0;
    cursor: pointer;
    text-align: center;
    border: none;
    background: transparent;
    opacity: 0.4;
    transition: 1s;
}

.arrow-left:hover,
.arrow-rigth:hover {
    opacity: 1;
}

.arrow-rigth {
    position: absolute;
    top: 0;
    left: auto;
    right: -50px;
    bottom: 0;
}


.arrow-left img,
.arrow-rigth img {
    width: 50px;
}

.item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
}


.galeria-caixa::-webkit-scrollbar {
    display: none;
  }
  
.galeria-caixa {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
