* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MetropolisExtraBold';
}

a {
    text-decoration: none;
    color: #eee;
}

ul {
    list-style: none;
}

 /* Parte do cabeçalho */

.conteudo{
  display: flex;

}

.nav-container {
    width: 100%;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    padding: 50px 85px;
    margin: 10px;
    
}

.pesquisa-box{
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 40px;
    padding: 8px 8px;
    margin-top: 35px;
    margin-left: 100px;
    
}


.pesquisa-box ul {
    display: flex;
}

.pesquisa-txt {
    width: 300px;
    padding: 2px 5px;
    background-color: transparent;
    border: none;
}
.pesquisa-txt:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.cadastro {
    width: 200px;
    white-space: nowrap;
    display: flex;
    gap: 10px;

    
}

.nav-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: white;
    margin: 10px;
    
    
}

.nav-itens li {
    padding: 12px;
}


.info {
    width: 100%;
    background: #ffde59;
}

.info-itens {

    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    margin-left: 130px;
    
   
}

.info-itens li {
    padding: 16px;
}

/* Parte da foto principal */

#product {
    width: 100%;
    padding: 350px;
    background: #eee;
 }

#slider {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 0px;
    max-height: 150px;

    position: center;
}

#slider img{

    opacity: 0;
    display: flex;
   
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}

/* Parte dos lançamentos  */

.novi {
    background: white;
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: center;  
}



.novi-nome{
    text-transform: uppercase;
    color: black;
    font-size: 28px;
    border-bottom: 3px solid black;


  
}

.botao {
    background: white;
    border: 1px;
}

.aa {
   color: rgb(8, 0, 0);
   border: 2.5px solid black;
   background-color: white;
   transition: 1s;
   cursor: pointer;
   font-size: 15px;
   padding: 7.5px 40px;
   text-transform: uppercase;
   margin: 12px 0 12px 600px; 
}

.aa:hover {
    color: whitesmoke;
    border: 2.5px solid black;
    background-color: rgb(2, 0, 8);

}



/* Foto dos lançamentos  */

.swiper {
    width: 70%;
    height: 100%;
    margin-top: 20px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; 
    
    
 /* Center slide text vertically */
    
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next, .swiper-pagination {
    --swiper-pagination-color: black;
    color: rgb(2, 0, 8) !important; 
    fill: black !important; 
    stroke: black !important;
    
}

/* imagem com marcas */

#marcas {
margin-top: 90px;
width: 100%;


}
.foto-marcas {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.foto1  {
  width: 100%;
  height: 650px;
  -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
  
}

.foto1:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.2);
}

.foto2  {
  width: 110%;
  height: 650px;
  -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
  
}

.foto2:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.2);
}

.foto3  {
  width: 100%;
  height: 650px;
  -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
  
}

.foto3:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.);
}

