



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MetropolisExtraBold';
}

a {
    text-decoration: none;
    color: #eee;
}

ul {
    list-style: none;
}

.conteudo{
  display: flex;

}

.nav-container {
    width: 100%;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    padding: 50px 85px;
    margin: 10px;
    
}

.pesquisa-box{
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 40px;
    padding: 8px 8px;
    margin-top: 35px;
    margin-left: 100px;
    
}


.pesquisa-box ul {
    display: flex;
}

.pesquisa-txt {
    width: 300px;
    padding: 2px 5px;
    background-color: transparent;
    border: none;
}
.pesquisa-txt:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.cadastro {
    width: 200px;
    white-space: nowrap;
    margin: 42px 250px;

    
}

.nav-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: white;
    margin: 10px;
    
    
}

.nav-itens li {
    padding: 12px;
}


.info {
    width: 100%;
    background: rgb(255, 255, 54);
}

.info-itens {

    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: black;
    align-items: center;
    margin-left: 130px;
    
   
}

.info-itens li {
    padding: 16px;
}

#product {
    width: 100%;
    padding: 350px;
    background: #eee;
 }

#slider {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 0px;
    max-height: 150px;

    position: center;
}

#slider img{

    opacity: 0;
    display: flex;
   
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}

.novi {
    background: yellow;
    width: 100%;
    display: inline-flex;

}



.novi-nome{
    text-transform: uppercase;
    color: black;
    font-size: 28px;
    padding: 15px;
    margin-left: 120px;
  
}

.botao {
    background: yellow;
    border: none;
}

.aa {
   color: rgb(8, 0, 0);
   border: 1px solid black;
   background-color:yellow;
   transition: 1s;
   cursor: pointer;
   font-size: 15px;
   padding: 7.5px 40px;
   text-transform: uppercase;
   margin: 12px 0 12px 700px;
   
    
}

.aa:hover {
    color: whitesmoke;
    border: 1px solid black;
    background-color: rgb(2, 0, 8);
    transition: 1s;
}

.teste {
    display: flex;
    gap: 500px;
    flex-wrap: wrap;
}


